{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section class="agency_service_area bg_color">
    <div class="container">

        <div class="row mb_30">
            <div class="col-lg-12 col-sm-6">
                <div class="p_service_item agency_service_item pr_70">
                    </div>
                    <h2 class="f_600_1 f_p t_color4 titulo2">¿Por qué elegirnos?</h2>
                    <div class="texto_relleno">
                        <p>
                            Somos una clínica odontológica de excelencia, con profesionales capacitados y con un enfoque personalizado al paciente, que se ha consolidado por tener todo lo necesario para sanar sonrisas.
                            Modernas instalaciones
                            Profesionales de alto nivel
                            Tecnología de Punta</p>
                    </div>
                    <h2 class="f_600_1 f_p t_color4 titulo2">Somos tu mejor opción</h2>
                </div>
            </div>
        </div>
</section>

{% endblock %}