{% extends 'core/base.html' %}

{% block content %}


<section class="agency_service_area bg_color">
    <div class="container">
        <div class="row mb_30">
            <h1 class="titulo">(Usuario), estas son tus próximas atenciones</h1>
            <div class="col-lg-4 col-sm-6"></div>
            <div class="col-lg-4 col-sm-6 titulo3">
                <div class="p_service_item agency_service_item pl_20 pr_70 contenedor2">
                    <strong>Especialidad:</strong> (Especialidad)
                    <br><strong>Fecha:</strong> (Fecha)
                    <br><strong>Hora:</strong> (Hora)
                    <br><strong>Doctor:</strong> (Doctor)
                    <br><button type="button" class="btn btn-danger bbb">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}